# Handling missing values using all techniques (Numerical features)

## Frequent category imputation

In [ ]:
df = pd.read_csv("loan.csv")
df.head()

In [ ]:
df.columns

In [ ]:
df = pd.read_csv("loan.csv",usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
df.isnull().mean().sort_values(ascending = True)

In [ ]:
df['BsmtQual'].value_counts().plot.bar()

In [ ]:
df['FireplaceQu'].value_counts().plot.bar()

In [ ]:
df['GarageType'].value_counts().plot.bar()

In [ ]:
df['GarageType'].value_counts().index[0]

In [ ]:
def impute_freq(df,variable):
    most_freq = df[variable].value_counts().index[0]
    df[variable] = df[variable].fillna(most_freq)

In [ ]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    impute_freq(df,feature)

In [ ]:
df.head()

In [ ]:
df.isnull().mean()

In [ ]:
df.drop(['BsmtQual_freq','FireplaceQu_freq','GarageType_freq'],axis=1,inplace=True)

In [ ]:
df.head()

## Adding a variable to capture NAN

In [ ]:
df = pd.read_csv("loan.csv",usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

In [ ]:
df['BsmtQual_var'] = np.where(df['BsmtQual'].isnull(),1,0)

In [ ]:
df.head()

In [ ]:
def impute_new_feature(df,variable):
    df[variable+"_newvar"] = np.where(df[variable].isnull(),1,0)
    most_freq = df[variable].value_counts().index[0]
    df[variable] = df[variable].fillna(most_freq)

In [ ]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    impute_new_feature(df,feature)

In [ ]:
df.head()

## Suppose we have more frequent categories, just replace NAN with new category

In [ ]:
df = pd.read_csv("loan.csv",usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

In [ ]:
def impute_new_category(df,variable):
    df[variable+"_newvar"] = np.where(df[variable].isnull(),"Missing",df[variable])

In [ ]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    impute_new_category(df,feature)

In [ ]:
df.head()

In [ ]:
df.drop(['BsmtQual','FireplaceQu','GarageType'],axis=1,inplace=True)

In [ ]:
df.head()

## One Hot Encoding (Nominal Features)

In [ ]:
df = pd.read_csv("titanic.csv")
df.head()

In [ ]:
df = pd.read_csv("titanic.csv", usecols = ["Sex","Embarked"])
df.head()

In [ ]:
pd.get_dummies(df["Sex"],drop_first= True).head()

In [ ]:
df["Embarked"].dropna(inplace = True)

In [ ]:
pd.get_dummies(df["Embarked"],drop_first= True).head(10)

In [ ]:
df.head(10)

### If we have many categories under single feature we follow top 10 approach

In [4]:
df= pd.read_csv("mercedes.csv" ,usecols =["X0","X1","X2","X3","X4","X5","X6"])
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [5]:
df["X0"].value_counts().head(10)

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
Name: X0, dtype: int64

In [6]:
for category in df.columns:
    print(len(df[category].value_counts()))

47
27
44
7
4
29
12

In [7]:
df["X1"].value_counts().head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [8]:
#lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
#lst_10=list(lst_10)

In [9]:
#or categories in lst_10:
 #  df[categories]=np.where(df['X1']==categories,1,0)

In [10]:
#print(type(df['X1']))
#print(type(categories))

In [11]:
#lst_10.append('X1')
#df[lst_10]

In [12]:
top_10_all=[]
for i in df.columns:
    top_10 = df[i].value_counts().head(10).index
    top_10= list(top_10)
    top_10_all.append(top_10)

In [13]:
top_10_all

[['z', 'ak', 'y', 'ay', 't', 'x', 'o', 'f', 'n', 'w'],
 ['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'],
 ['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e'],
 ['c', 'f', 'a', 'd', 'g', 'e', 'b'],
 ['d', 'a', 'c', 'b'],
 ['v', 'w', 'q', 'r', 'd', 's', 'n', 'p', 'm', 'i'],
 ['g', 'j', 'd', 'i', 'l', 'a', 'h', 'k', 'c', 'b']]

In [14]:
def multi_encode(variable,top_10_all):
        first_top10 = top_10_all[0]
        print(first_top10)

        for value in first_top10:
            df[value]= np.where(df[variable]== value,1,0)
        first_top10.append(variable)
        print(df[first_top10])
        top_10_all = top_10_all.pop(0)

In [15]:
for variable in ["X0","X1","X2","X3","X4","X5","X6"]:
    multi_encode(variable,top_10_all)

['z', 'ak', 'y', 'ay', 't', 'x', 'o', 'f', 'n', 'w']

      z  ak  y  ay  t  x  o  f  n  w  X0
0     0   0  0   0  0  0  0  0  0  0   k
1     0   0  0   0  0  0  0  0  0  0   k
2     0   0  0   0  0  0  0  0  0  0  az
3     0   0  0   0  0  0  0  0  0  0  az
4     0   0  0   0  0  0  0  0  0  0  az
...  ..  .. ..  .. .. .. .. .. .. ..  ..
4204  0   1  0   0  0  0  0  0  0  0  ak
4205  0   0  0   0  0  0  0  0  0  0   j
4206  0   1  0   0  0  0  0  0  0  0  ak
4207  0   0  0   0  0  0  0  0  0  0  al
4208  1   0  0   0  0  0  0  0  0  0   z

[4209 rows x 11 columns]
['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]
['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

      as  ae  ai  m  ak  r  n  s  f  e  X2
0      0   0   0  0   0  0  0  0  0  0  at
1      0   0   0  0   0  0  0  0  0  0  av
2      0   0   0  0   0  0  1  0  0  0   n
3      0   0   0  0   0  0  1  0  0  0   n
4      0   0   0  0   0  0  1  0  0  0   n
...   ..  ..  .. ..  .. .. .. .. .. ..  ..
4204   1   0   0  0   0  0  0  0  0  0  as
4205   0   0   0  0   0  0  0  0  0  0   t
4206   0   0   0  0   0  1  0  0  0  0   r
4207   0   0   0  0   0  0  0  0  0  1   e
4208   0   1   0  0   0  0  0  0  0  0  ae

[4209 rows x 11 columns]
['c', 'f', 'a', 'd', 'g', 'e', 'b']

      c  f  a  d  g  e  b X3
0     0  0  1  0  0  0  0  a
1     0  0  0  0  0  1  0  e
2     1  0  0  0  0  0  0  c
3     0  1  0  0  0  0  0  f
4     0  1  0  0  0  0  0  f
...  .. .. .. .. .. .. .. ..
4204  1  0  0  0  0  0  0  c
4205  0  0  0  1  0  0  0  d
4206  0  0  1  0  0  0  0  a
4207  0  1  0  0  0  0  0  f
4208  1  0  0  0  0  0  0  c

[4209 rows x 8 columns]
['d', 'a', 'c', 'b']

      d  a  c  b X4
0     1  0  0  0  d
1     1  0  0  0  d
2     1  0  0  0  d
3     1  0  0  0  d
4     1  0  0  0  d
...  .. .. .. .. ..
4204  1  0  0  0  d
4205  1  0  0  0  d
4206  1  0  0  0  d
4207  1  0  0  0  d
4208  1  0  0  0  d

[4209 rows x 5 columns]
['v', 'w', 'q', 'r', 'd', 's', 'n', 'p', 'm', 'i']

      v  w  q  r  d  s  n  p  m  i  X5
0     0  0  0  0  0  0  0  0  0  0   u
1     0  0  0  0  0  0  0  0  0  0   y
2     0  0  0  0  0  0  0  0  0  0   x
3     0  0  0  0  0  0  0  0  0  0   x
4     0  0  0  0  0  0  0  0  0  0   h
...  .. .. .. .. .. .. .. .. .. ..  ..
4204  0  0  0  0  0  0  0  0  0  0  aa
4205  0  0  0  0  0  0  0  0  0  0  aa
4206  0  0  0  0  0  0  0  0  0  0  aa
4207  0  0  0  0  0  0  0  0  0  0  aa
4208  0  0  0  0  0  0  0  0  0  0  aa

[4209 rows x 11 columns]
['g', 'j', 'd', 'i', 'l', 'a', 'h', 'k', 'c', 'b']

      g  j  d  i  l  a  h  k  c  b X6
0     0  1  0  0  0  0  0  0  0  0  j
1     0  0  0  0  1  0  0  0  0  0  l
2     0  1  0  0  0  0  0  0  0  0  j
3     0  0  0  0  1  0  0  0  0  0  l
4     0  0  1  0  0  0  0  0  0  0  d
...  .. .. .. .. .. .. .. .. .. .. ..
4204  0  0  1  0  0  0  0  0  0  0  d
4205  0  0  0  0  0  0  1  0  0  0  h
4206  1  0  0  0  0  0  0  0  0  0  g
4207  0  0  0  0  1  0  0  0  0  0  l
4208  1  0  0  0  0  0  0  0  0  0  g

[4209 rows x 11 columns]

### Ordinal Number Encoding

In [37]:
import datetime

In [38]:
dt.time

datetime.time

In [41]:
today_date = datetime.datetime.today()

In [42]:
today_date

datetime.datetime(2020, 8, 14, 13, 21, 21, 427841)

In [43]:
today_date - datetime.timedelta(2)

datetime.datetime(2020, 8, 12, 13, 21, 21, 427841)

In [44]:
# list comprehension
new_day = [today_date - datetime.timedelta(i) for i in range(0,15)]

In [45]:
new_day

[datetime.datetime(2020, 8, 14, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 13, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 12, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 11, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 10, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 9, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 8, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 7, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 6, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 5, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 4, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 3, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 2, 13, 21, 21, 427841),
 datetime.datetime(2020, 8, 1, 13, 21, 21, 427841),
 datetime.datetime(2020, 7, 31, 13, 21, 21, 427841)]

In [46]:
pd.DataFrame(new_day)

                            0
0  2020-08-14 13:21:21.427841
1  2020-08-13 13:21:21.427841
2  2020-08-12 13:21:21.427841
3  2020-08-11 13:21:21.427841
4  2020-08-10 13:21:21.427841
5  2020-08-09 13:21:21.427841
6  2020-08-08 13:21:21.427841
7  2020-08-07 13:21:21.427841
8  2020-08-06 13:21:21.427841
9  2020-08-05 13:21:21.427841
10 2020-08-04 13:21:21.427841
11 2020-08-03 13:21:21.427841
12 2020-08-02 13:21:21.427841
13 2020-08-01 13:21:21.427841
14 2020-07-31 13:21:21.427841

In [51]:
data= pd.DataFrame(new_day)
data.columns = ["Day"]
data.head()

                         Day
0 2020-08-14 13:21:21.427841
1 2020-08-13 13:21:21.427841
2 2020-08-12 13:21:21.427841
3 2020-08-11 13:21:21.427841
4 2020-08-10 13:21:21.427841

In [57]:
data["Weekday"] =  data["Day"].dt.weekday_name
data.head(10)

                         Day    Weekday
0 2020-08-14 13:21:21.427841     Friday
1 2020-08-13 13:21:21.427841   Thursday
2 2020-08-12 13:21:21.427841  Wednesday
3 2020-08-11 13:21:21.427841    Tuesday
4 2020-08-10 13:21:21.427841     Monday
5 2020-08-09 13:21:21.427841     Sunday
6 2020-08-08 13:21:21.427841   Saturday
7 2020-08-07 13:21:21.427841     Friday
8 2020-08-06 13:21:21.427841   Thursday
9 2020-08-05 13:21:21.427841  Wednesday

In [64]:
dictionary = {'Monday':1, 'Tuesday':2, 'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}

In [65]:
data["Weekday_ordinal"] = data["Weekday"].map(dictionary)

In [66]:
data.head()

                         Day    Weekday  Weekday_ordinal
0 2020-08-14 13:21:21.427841     Friday                5
1 2020-08-13 13:21:21.427841   Thursday                4
2 2020-08-12 13:21:21.427841  Wednesday                3
3 2020-08-11 13:21:21.427841    Tuesday                2
4 2020-08-10 13:21:21.427841     Monday                1

## Count or Frequency encoding

In [38]:
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , header = None,index_col=None)
train_set.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [39]:
columns = [1,3,5,6,7,8,9,13]

In [40]:
train_set = train_set[columns]

In [41]:
train_set.columns=['Employment','Degree','Status',
                 'Designation','family_job','Race','Sex','Country']

In [42]:
train_set.head()

,Employment,Degree,Status,Designation,family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [43]:
train_set.shape

(32561, 8)

In [47]:
country_data = train_set['Country'].value_counts()
country_data

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: Country, dtype: int64

In [45]:
for feature in train_set.columns:
    print(feature,":",len(train_set[feature].value_counts()),"Labels")

Employment : 9 Labels
Degree : 16 Labels
Status : 7 Labels
Designation : 15 Labels
family_job : 6 Labels
Race : 5 Labels
Sex : 2 Labels
Country : 42 Labels

In [46]:
country_data = train_set['Country'].value_counts()
country_data

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: Country, dtype: int64

In [31]:
country_data = train_set['Country'].value_counts().to_dict()

In [32]:
country_data

{' United-States': 29170,
 ' Mexico': 643,
 ' ?': 583,
 ' Philippines': 198,
 ' Germany': 137,
 ' Canada': 121,
 ' Puerto-Rico': 114,
 ' El-Salvador': 106,
 ' India': 100,
 ' Cuba': 95,
 ' England': 90,
 ' Jamaica': 81,
 ' South': 80,
 ' China': 75,
 ' Italy': 73,
 ' Dominican-Republic': 70,
 ' Vietnam': 67,
 ' Guatemala': 64,
 ' Japan': 62,
 ' Poland': 60,
 ' Columbia': 59,
 ' Taiwan': 51,
 ' Haiti': 44,
 ' Iran': 43,
 ' Portugal': 37,
 ' Nicaragua': 34,
 ' Peru': 31,
 ' France': 29,
 ' Greece': 29,
 ' Ecuador': 28,
 ' Ireland': 24,
 ' Hong': 20,
 ' Trinadad&Tobago': 19,
 ' Cambodia': 19,
 ' Thailand': 18,
 ' Laos': 18,
 ' Yugoslavia': 16,
 ' Outlying-US(Guam-USVI-etc)': 14,
 ' Honduras': 13,
 ' Hungary': 13,
 ' Scotland': 12,
 ' Holand-Netherlands': 1}

In [49]:
train_set['Country'] =train_set['Country'].map(country_data)
train_set.head(10)

,Employment,Degree,Status,Designation,family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,29170
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29170
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29170
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95
5,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,29170
6,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,81
7,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
8,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,29170
9,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170