# Handling missing values using all techniques (Numerical features)

## Frequent category imputation

In [ ]:
df = pd.read_csv("loan.csv")
df.head()

In [ ]:
df.columns

In [ ]:
df = pd.read_csv("loan.csv",usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
df.isnull().mean().sort_values(ascending = True)

In [ ]:
df['BsmtQual'].value_counts().plot.bar()

In [ ]:
df['FireplaceQu'].value_counts().plot.bar()

In [ ]:
df['GarageType'].value_counts().plot.bar()

In [ ]:
df['GarageType'].value_counts().index[0]

In [ ]:
def impute_freq(df,variable):
    most_freq = df[variable].value_counts().index[0]
    df[variable] = df[variable].fillna(most_freq)

In [ ]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    impute_freq(df,feature)

In [ ]:
df.head()

In [ ]:
df.isnull().mean()

In [ ]:
df.drop(['BsmtQual_freq','FireplaceQu_freq','GarageType_freq'],axis=1,inplace=True)

In [ ]:
df.head()

## Adding a variable to capture NAN

In [ ]:
df = pd.read_csv("loan.csv",usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

In [ ]:
df['BsmtQual_var'] = np.where(df['BsmtQual'].isnull(),1,0)

In [ ]:
df.head()

In [ ]:
def impute_new_feature(df,variable):
    df[variable+"_newvar"] = np.where(df[variable].isnull(),1,0)
    most_freq = df[variable].value_counts().index[0]
    df[variable] = df[variable].fillna(most_freq)

In [ ]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    impute_new_feature(df,feature)

In [ ]:
df.head()

## Suppose we have more frequent categories, just replace NAN with new category

In [ ]:
df = pd.read_csv("loan.csv",usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

In [ ]:
def impute_new_category(df,variable):
    df[variable+"_newvar"] = np.where(df[variable].isnull(),"Missing",df[variable])

In [ ]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    impute_new_category(df,feature)

In [ ]:
df.head()

In [ ]:
df.drop(['BsmtQual','FireplaceQu','GarageType'],axis=1,inplace=True)

In [ ]:
df.head()

## One Hot Encoding (Nominal Features)

In [ ]:
df = pd.read_csv("titanic.csv")
df.head()

In [ ]:
df = pd.read_csv("titanic.csv", usecols = ["Sex","Embarked"])
df.head()

In [ ]:
pd.get_dummies(df["Sex"],drop_first= True).head()

In [ ]:
df["Embarked"].dropna(inplace = True)

In [ ]:
pd.get_dummies(df["Embarked"],drop_first= True).head(10)

In [ ]:
df.head(10)

### If we have many categories under single feature we follow top 10 approach

In [ ]:
df= pd.read_csv("mercedes.csv" ,usecols =["X0","X1","X2","X3","X4","X5","X6"])
df.head()

In [ ]:
df["X0"].value_counts().head(10)

In [ ]:
for category in df.columns:
    print(len(df[category].value_counts()))

In [ ]:
df["X1"].value_counts().head(10)

In [ ]:
#lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
#lst_10=list(lst_10)

In [ ]:
#or categories in lst_10:
 #  df[categories]=np.where(df['X1']==categories,1,0)

In [ ]:
#print(type(df['X1']))
#print(type(categories))

In [ ]:
#lst_10.append('X1')
#df[lst_10]

In [ ]:
top_10_all=[]
for i in df.columns:
    top_10 = df[i].value_counts().head(10).index
    top_10= list(top_10)
    top_10_all.append(top_10)

In [ ]:
top_10_all

In [ ]:
def multi_encode(variable,top_10_all):
        first_top10 = top_10_all[0]
        print(first_top10)

        for value in first_top10:
            df[value]= np.where(df[variable]== value,1,0)
        first_top10.append(variable)
        print(df[first_top10])
        top_10_all = top_10_all.pop(0)

In [ ]:
for variable in ["X0","X1","X2","X3","X4","X5","X6"]:
    multi_encode(variable,top_10_all)

### Ordinal Number Encoding

In [ ]:
import datetime

In [ ]:
dt.time

In [ ]:
today_date = datetime.datetime.today()

In [ ]:
today_date

In [ ]:
today_date - datetime.timedelta(2)

In [ ]:
# list comprehension
new_day = [today_date - datetime.timedelta(i) for i in range(0,15)]

In [ ]:
new_day

In [ ]:
pd.DataFrame(new_day)

In [ ]:
data= pd.DataFrame(new_day)
data.columns = ["Day"]
data.head()

In [ ]:
data["Weekday"] =  data["Day"].dt.weekday_name
data.head(10)

In [ ]:
dictionary = {'Monday':1, 'Tuesday':2, 'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}

In [ ]:
data["Weekday_ordinal"] = data["Weekday"].map(dictionary)

In [ ]:
data.head()

## Count or Frequency encoding

In [ ]:
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , header = None,index_col=None)
train_set.head()

In [ ]:
columns = [1,3,5,6,7,8,9,13]

In [ ]:
train_set = train_set[columns]

In [ ]:
train_set.columns=['Employment','Degree','Status',
                 'Designation','family_job','Race','Sex','Country']

In [ ]:
train_set.head()

In [ ]:
train_set.shape

In [ ]:
country_data = train_set['Country'].value_counts()
country_data

In [ ]:
for feature in train_set.columns:
    print(feature,":",len(train_set[feature].value_counts()),"Labels")

In [ ]:
country_data = train_set['Country'].value_counts()
country_data

In [ ]:
country_data = train_set['Country'].value_counts().to_dict()

In [ ]:
country_data

In [ ]:
train_set['Country'] =train_set['Country'].map(country_data)
train_set.head(10)

### Target Guided Encoding

In [4]:
df = pd.read_csv("titanic.csv", usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [5]:
df['Cabin'] = df['Cabin'].fillna('Missing')

In [6]:
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [7]:
df['Cabin']= df['Cabin'].astype(str).str[0]

In [8]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [9]:
df['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [11]:
df.groupby(df['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [12]:
df.groupby(df['Cabin'])['Survived'].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [13]:
target_ordinal = df.groupby(df['Cabin'])['Survived'].mean().sort_values().index

In [14]:
enumerate(target_ordinal,0)

In [15]:
target_ordinal_dict = {k:v for v,k in enumerate(target_ordinal,0)}

In [16]:
target_ordinal_dict

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [17]:
df['Cabin_class'] = df['Cabin'].map(target_ordinal_dict)
df.head()

   Survived Cabin  Cabin_class
0         0     M            1
1         1     C            4
2         1     M            1
3         1     C            4
4         0     M            1

### Mean Encoding

In [18]:
df.groupby(df['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [20]:
mean_ordinal = df.groupby(df['Cabin'])['Survived'].mean().to_dict()

In [22]:
df['mean_ordinal'] = df['Cabin'].map(mean_ordinal)
df.head()

   Survived Cabin  Cabin_class  mean_ordinal
0         0     M            1      0.299854
1         1     C            4      0.593220
2         1     M            1      0.299854
3         1     C            4      0.593220
4         0     M            1      0.299854

## Probability Ratio Encoding

In [23]:
df = pd.read_csv("titanic.csv", usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [24]:
df['Cabin'] = df['Cabin'].fillna('Missing')

In [25]:
df['Cabin']= df['Cabin'].astype(str).str[0]

In [26]:
df['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [28]:
mean_od = df.groupby(df['Cabin'])['Survived'].mean()

In [30]:
prob_df = pd.DataFrame(mean_od)
prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [31]:
prob_df['died'] = 1 - prob_df['Survived']
prob_df.head()

       Survived      died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [32]:
prob_df['ratio'] = prob_df['Survived'] / prob_df['died']
prob_df.head()

       Survived      died     ratio
Cabin
A      0.466667  0.533333  0.875000
B      0.744681  0.255319  2.916667
C      0.593220  0.406780  1.458333
D      0.757576  0.242424  3.125000
E      0.750000  0.250000  3.000000

In [33]:
prob_dictionary = prob_df['ratio'].to_dict()

In [34]:
prob_df['Prob_ratio']= prob_df['Cabin'].map(prob_dictionary)
prob_df.head()

KeyError: 'Cabin'